.about img{
    width: 900px;
    animation: fadeDown 0.5s ease-out;
}
@keyframes fadeDown {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.about-down{
    width: 900px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    animation: fadeRight 0.5s ease-out;
}
.about-down h4{
    margin-bottom: 20px;
    font-size: 24px;
}
.about-down p{
    font-style: italic;
    line-height: 2;
    font-size: 14px;
}
.about-down button{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 20px 30px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.about-down button:hover{
    letter-spacing: 1.8px;
}
.about-down ul{
    list-style: none;
}
.about-down ul p{
    font-style: normal;
   
    font-size: 16px;
}
.about-down ul span{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
@media (max-width: 1394px){
    .about img{
        width: 600px;
    }
    .about-down{
        width: 600px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
    }
}
@media (max-width: 1124px){
    .about-down{
        width: 600px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        
    }
}
@media (max-width: 800px){
    .about img{
        width: 400px;
    }
    .about-down{
        width: 400px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        
    }
}
@media (max-width: 600px){
    .about img{
        width: 300px;
    }
    .about-down{
        width: 300px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        
    }
}