.hero-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}
.hero-section img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;   
    margin-bottom: 20px;
    animation: fadeUp 0.5s ease-out;
}
@keyframes fadeUp {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
.hero-section h2{
    font-size: 42px;
    margin-bottom: 10px;
    animation: fadeUp 0.8s ease-out;
}
.hero-section p{
    font-weight: 500;
    font-size: 22px;
}
.text-type{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeUp 0.8s ease-out;
    
}
.Typewriter{
    margin-left: 8px;
}
.social-media{
    margin-top: 20px;
}
.icone-socialmedia{
    margin-left: 20px !important;
    font-size: 24px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    animation: fadeRight 0.5s ease-out;
}
@keyframes fadeRight {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
.icone-socialmedia:hover{
    transform: scale(1.2);
}

@media (max-width: 1324px){
    .hero-section{
        height: auto;
        margin-top: 150px;
    }
  }
@media (max-width: 769px){
    .hero-section img{
        width: 250px;
        height: 240px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;   
        margin-bottom: 20px;
        margin-top: 100px;
    }
    .hero-section h2{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .hero-section p{
        font-weight: 500;
        font-size: 20px;
    }
  }