*{
  margin: 0;
  padding: 0;
}

.left-side{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 460px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  

}

.right-side{
  height: 100vh;
  margin-left: 460px;
}
.child-left-side2{
  background-color: #dedede;
  display: none;
  height: 60px;
}
.child-up{
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: none;
}
.darkicone{
  position: fixed;
  right:  0;
  top: 4px;
}
@media (max-width: 1324px){
  .left-side{
    
    width: 350px;
  }.right-side{
    margin-left: 350px;
  }
}
@media (max-width: 1124px){
  .left-side{
    display: none;
    position: static !important;;
  }.right-side{
    margin-left: 0px;
    margin-top: 80px;
  }
  .child-left-side2{
    display: block;
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;  
  }
  .child-up{
    display: block;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
  }
  .darkicone{
    display: none;
  }
}